################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp
/.vs/Brunetons-Ocean/v16/TestStore/0
/obj/Debug
/Logs
/Library
